a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  cursor: pointer;
}
li:hover {
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  transition: all 0.5s ease-in-out;
}
ul li::before {
  content: "\27A4";
  color: red;      
  font-size: 20px; 
  margin-right: 10px;
}
ul li:hover::before {
  color: green;
}
.text-align-justify {
  text-align: justify;
}
.expanded-text {
  z-index: 1000; /* Asegura que el texto esté por encima de otros elementos */
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  transition: all 0.5s ease-in-out; /* Añade una transición suave */
}
.badge-info {
  background-color: #17a2b8;
}
.experience-frame:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
/* Columna Izquierda (Estática) */
#left-column {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%; /* Ajusta el ancho según tus necesidades */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  overflow-y: auto; /* Permite scroll interno si el contenido supera la altura */
}
/* Columna Derecha (Scrollable) */
#right-column {
  margin-left: 50%; /* Deja espacio para la columna izquierda fija */
  width: 50%; /* Ajusta el ancho según tus necesidades */
  overflow-y: auto;
  padding-top: 20px; /* Ajusta el padding según sea necesario */
}
@media (max-width: 768px) {
  /* Restablecer estilos para pantallas pequeñas */
  #left-column,
  #right-column {
    position: static;
    width: 100%;
    margin: 0;
    height: auto;
  }
}